---
# Deploy Trino using Helm
# Trino auto-configures query.max-memory-per-node and memory.heap-headroom-per-node
# as 30% of heap each, so we only need to set JVM heap and pod memory

- name: Create lake-reader ServiceAccount for Trino
  when: not s3_manage_secrets
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: create_service_account
  vars:
    sa_name: lake-reader
    sa_namespace: '{{ trino_namespace }}'
    sa_role_arn: '{{ lake_reader_role_arn }}'

- name: Deploy Trino
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: deploy_helm_chart
  vars:
    helm_chart_name: trino
    helm_chart_ref: '{{ trino_helm_repo_name }}/{{ trino_helm_chart_name }}'
    helm_chart_version: '{{ trino_helm_chart_version }}'
    helm_chart_namespace: '{{ trino_namespace }}'
    helm_chart_timeout: '{{ trino_helm_timeout }}'
    helm_repo_name: '{{ trino_helm_repo_name }}'
    helm_repo_url: '{{ trino_helm_repo_url }}'
    helm_chart_values: "{{ lookup('template', 'values.yaml.j2') | from_yaml }}"
