---
- name: Create namespace
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: namespace
  vars:
    ns: '{{ launchpad_namespace }}'

- name: Deploy Launchpad
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: deploy_helm_chart
  vars:
    helm_chart_name: launchpad
    helm_chart_ref: '{{ launchpad_helm_chart_ref }}'
    helm_chart_namespace: '{{ launchpad_namespace }}'
    helm_chart_values_files:
      - '{{ scout_repo_dir }}/helm/launchpad/values.yaml'
    helm_chart_values:
      image:
        repository: '{{ launchpad_image_repository }}'
        tag: '{{ launchpad_image_tag }}'
      auth:
        keycloak:
          enabled: true
          clientId: '{{ keycloak_launchpad_client_id }}'
          clientSecret: '{{ keycloak_launchpad_client_secret }}'
          issuer: '{{ keycloak_realm_url }}'
        nextAuthUrl: 'https://{{ server_hostname }}/api/auth'
        nextAuthSecret: '{{ launchpad_nextauth_secret }}'
        oauth2ProxySignOutUrl: '{{ oauth2_proxy_signout_url }}'
      ingress:
        enabled: true
        className: "{{ 'alb' if aws_deployment else 'traefik' }}"
        annotations: >-
          {{
            {
              'alb.ingress.kubernetes.io/scheme': 'internet-facing',
              'alb.ingress.kubernetes.io/target-type': 'ip',
              'alb.ingress.kubernetes.io/listen-ports': '[{"HTTP": 80}, {"HTTPS": 443}]',
              'alb.ingress.kubernetes.io/ssl-redirect': '443',
              'alb.ingress.kubernetes.io/auth-type': 'oidc',
              'alb.ingress.kubernetes.io/auth-idp-oidc': '{"issuer":"' + keycloak_realm_url + '","authorizationEndpoint":"' + keycloak_oidc_auth_url + '","tokenEndpoint":"' + keycloak_oidc_token_url + '","userInfoEndpoint":"' + keycloak_oidc_userinfo_url + '","clientId":"' + keycloak_launchpad_client_id + '","clientSecret":"' + keycloak_launchpad_client_secret + '"}',
              'alb.ingress.kubernetes.io/auth-on-unauthenticated-request': 'authenticate',
              'alb.ingress.kubernetes.io/auth-scope': 'openid microprofile-jwt',
              'alb.ingress.kubernetes.io/auth-session-cookie': 'AWSELBAuthSessionCookie',
              'alb.ingress.kubernetes.io/auth-session-timeout': '3600'
            } if aws_deployment else {
              'traefik.ingress.kubernetes.io/router.middlewares': 'kube-system-oauth2-proxy-error@kubernetescrd, kube-system-oauth2-proxy-auth@kubernetescrd'
            }
          }}
        hosts:
          - host: '{{ server_hostname }}'
            paths:
              - path: /
                pathType: Prefix
